*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../image.jpg") center/cover no-repeat;
  color:#fff;
}

/* DARK OVERLAY */
.overlay{
  position:absolute;
  inset:0;
}

/* HERO */
.hero{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.brand{
  color:#7CFF6B;
  font-size:18px;
  margin-bottom:20px;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  line-height:1.6;
  color:#ddd;
  margin-bottom:35px;
}

/* BUTTON */
.cta-btn{
  background:#7CFF6B;
  color:#000;
  padding:14px 40px;
  border-radius:30px;
  font-weight:600;
  font-size:16px;
  text-decoration:none;
  transition:0.3s;
}

.cta-btn:hover{
  background:#5fe24d;
  transform:scale(1.05);
}

/* MOBILE */
@media(max-width:768px){
  .hero h1{
    font-size:34px;
  }
  .hero p{
    font-size:16px;
  }
}
