*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffffff;
}

/* CONTAINER */
.login-container{
  width:100%;
  max-width:420px;
  text-align:center;
  padding:20px;
}

/* LOGO */
.logo{
  font-size:26px;
  font-weight:600;
  margin-bottom:40px;
}

.logo span{
  color:#000;
}

/* FORM */
form{
  text-align:left;
}

label{
  font-size:14px;
  color:#333;
}

input{
  width:100%;
  padding:14px;
  margin:8px 0 20px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:15px;
}

/* BUTTON */
button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:30px;
  background:#9CFF57;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#7de84b;
}

/* REGISTER */
.register{
  margin-top:25px;
  font-size:14px;
  color:#333;
}

.register a{
  color:#1e88ff;
  text-decoration:none;
  font-weight:500;
}

/* MOBILE */
@media(max-width:480px){
  .login-container{
    padding:15px;
  }
}
