*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f5f7f9;
}

.logout-container{
  text-align:center;
}

.logout-container h1{
  font-size:28px;
  margin-bottom:10px;
}

.logout-container p{
  color:#666;
}
