*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  background:#f5f7f9;
}

/* NAVBAR */
.navbar{
  background:#a8ff5a;
  padding:14px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:22px;
}

.nav-links{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.pill{
  background:#000;
  color:#fff;
  padding:8px 18px;
  border-radius:22px;
  text-decoration:none;
  font-size:14px;
}

.pill.active{
  background:#22cc55;
  color:#000;
  font-weight:600;
}

/* SUPPORT */
.support-section{
  display:flex;
  justify-content:center;
  padding:60px 20px;
}

.support-card{
  background:#fff;
  width:100%;
  max-width:420px;
  border-radius:20px;
  padding:30px;
  box-shadow:0 12px 30px rgba(0,0,0,0.12);
}

.support-card h2{
  margin-bottom:10px;
}

.support-card p{
  color:#666;
  margin-bottom:20px;
}

label{
  font-size:14px;
}

input, textarea{
  width:100%;
  padding:12px;
  margin:8px 0 18px;
  border-radius:8px;
  border:1px solid #ccc;
}

textarea{
  resize:none;
  height:120px;
}

button{
  width:100%;
  background:#9cff57;
  border:none;
  padding:12px;
  border-radius:25px;
  font-weight:600;
  cursor:pointer;
}
