*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  background:#f4f6f8;
}

/* NAVBAR */
.navbar{
  background:#a8ff5a;
  padding:14px 30px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  font-size:22px;
}

.nav-links{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.pill{
  background:#000;
  color:#fff;
  text-decoration:none;
  padding:8px 18px;
  border-radius:22px;
  font-size:14px;
}

.pill.active{
  background:#22cc55;
  color:#000;
  font-weight:600;
}

/* TITLE */
.title{
  text-align:center;
  padding:50px 20px 30px;
}

.title h1{
  font-size:30px;
  margin-bottom:10px;
}

.title p{
  color:#555;
}

/* GRID */
.video-grid{
  padding:30px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

/* CARD */
.video-card{
  background:#fff;
  border-radius:18px;
  padding:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.12);
}

.video-card iframe{
  width:100%;
  height:190px;
  border-radius:14px;
  border:none;
}

.video-card h3{
  margin-top:12px;
}

.video-card p{
  color:#666;
  margin-top:5px;
  font-size:14px;
}

/* MOBILE */
@media(max-width:600px){
  .title h1{
    font-size:24px;
  }
}
